.frame > label {
  min-width: max-content;
}

.list-menu {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: center;
  background-color: #485770;
  box-shadow: 15px 15px 30px #354052, -15px -15px 30px #5b6e8e;
  color: rgb(243, 243, 243);
}

.dropdown {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  width: 100%;
  z-index: 1;
}

.dropdown.active {
  box-shadow: 0 0 1rem rgb(164, 166, 210);
}

.select {
  position: relative;
  width: 100%;
  background-color: #647ca5;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
}

.caret {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  width: 0.5rem;
  border-right: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid white;
  transition: all 0.5s;
}

.caret.active {
  transform: rotate(-180deg) translateY(50%);
}

.menu {
  position: absolute;
  top: 3rem;
  left: 0;
  background: #354052;
  width: 100%;
  height: 0;
  opacity: 0;
  transition: all 0.3s;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: white;
}

.menu.active {
  opacity: 1;
  height: 260px;
}

.menu li input {
  display: none;
}

.menu li label {
  font-size: 0.9rem;
  width: 100%;
  height: 100%;
  display: block;
  padding: 1rem;
  cursor: pointer;
}

.menu li:hover {
  background-color: rgba(157, 159, 179, 0.6);
}

@media screen and (min-width: 768px) {
  .list-menu {
    grid-template-columns: 1fr 3fr;
  }
}