.home section {
  padding: 1rem;
}

.home .split {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home .split-frame {
  flex: 1;
}

.home #theater {
  width: min(100%, 512px);
  position: relative;
  outline: 1px solid white;
  overflow: hidden;
  margin-inline: auto ;
}

.home #theater #video {
    width: 100%;
}

@media screen and (min-width: 1000px) {
  .home .split {
    flex-direction: row;
  }

  .home #theater {
    width: 512px;
  }
}
