:root {
  --first-color: #89a7d7;
  --secound-color: #7188ad;

  --first-color-alt: rgb(192, 203, 221);
  --secound-color-alt: #a0a7b4;

  --first-bk-linear: linear-gradient(145deg, #7b96c2, #93b3e6);
  --secound-bk-linear: linear-gradient(145deg, #667a9c, #7992b9);

  --first-bk-shadow: 3px 3px 5px #657c9f, -3px -3px 5px #add2ff;
  --secound-bk-shadow: 3px 3px 5px #546580, -3px -3px 5px #8eabda;

  --bk-color: #485770;

  --white-color: rgb(243, 243, 243);
  --on-color: rgb(106, 255, 0);

  --header-height: 3rem;
  --nav-width: 70px;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


/*header*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  background-color: var(--first-color);
  padding-left: 1rem;
}

.header .left,
.header .center,
.header .right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-toggle {
  border-radius: 6px;
  background: var(--first-bk-linear);
  box-shadow: var(--first-bk-shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  color: var(--first-color-alt);
  cursor: pointer;
}

.header-toggle:hover, .nav-link:hover {
  color: var(--white-color);
}

.header-toggle:active, .nav-link:active {
  color: var(--on-color);
}

/*sidebar*/
.sidebar {
    position: fixed;
    left: -30%;
    opacity: 0;
    top: 0;
    height: 100vh;
    width: calc(var(--nav-width));
    background-color: var(--secound-color);
    border-radius: 0 1rem 1rem 0;
    box-shadow: 0 0 1rem black;
    overflow: hidden;
}

.nav-list {
    display: flex;
    flex-direction: column;
    padding-top: var(--header-height);
}

.nav-link {
    display: grid;
    grid-template-columns:  1fr 2fr;
    row-gap: 3px;
    color: var(--secound-color-alt);
    width: 100%;
}

.frame {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: var(--nav-width);
    min-height: var(--nav-width);
}

.icon-frame {
    padding: 3px;
}

.link-neomorph {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: var(--secound-bk-linear);
    box-shadow: var(--secound-bk-shadow);
}

.name-frame {
    justify-content: flex-start;
}