:root {
  --first-color: #aabedc;
  --secound-color: #7188ad;

  --first-color-alt: #ced7e8;
  --secound-color-alt: #b5b9c0;

  --first-bk-linear: linear-gradient(145deg, #99abc6, #b6cbeb);
  --secound-bk-linear: linear-gradient(145deg, #667a9c, #7992b9);

  --first-bk-shadow: 3px 3px 5px #8d9eb7, -3px -3px 5px #c7deff;
  --secound-bk-shadow: 3px 3px 5px #546580, -3px -3px 5px #8eabda;

  --bk-color: #485770;

  --white-color: rgb(243, 243, 243);
  --on-color: rgb(106, 255, 0);

  --header-height: 4rem;
  --nav-width: 70px;
}

/*scrollbar style*/
/*for firefox*/
html {
  scrollbar-width: thin;
  scrollbar-color: var(--white-color) #323d4f;
}

/*for chrome, edge, and safary*/
html::-webkit-scrollbar {
  width: 8px;
}

html::-webkit-scrollbar-track {
  background: #323d4f;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--white-color);
  border-radius: 20px;
  border: 2px solid #323d4f;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--bk-color);
  color: gray;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}